<section class="topbar_sec">
    <div class="container">
        <p class="color-white text-center">Welcome to our store</p>
    </div>
</section>
<header class="main_header">
	<div class="container">
		<div class="header_main">
			<nav class="navbar navbar-expand-lg navbar-light">
			  <div class="container-fluid">
			    <a class="navbar-brand color-black" href="#">Kristian Zion3</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav ms-auto">
			        <li class="nav-item">
			          <a class="nav-link active color-black" aria-current="page" href="#">Home</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link color-black" href="#">About Us</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link color-black" href="#">Shop</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link color-black" href="#">Catalog</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link color-black" href="#">Contact</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			  <div class="icon_div">
				<ul class="d-flex">
					<li><a href="#"><img src="../assets/images/search-icon.png"></a></li>
					<li><a href="#"><img src="../assets/images/profile-icon.png"></a></li>
					<li><a href="#"><img src="../assets/images/cart-icon.png"></a></li>
				</ul>
			</div>
			</nav>
		</div>
	</div>
</header>
